@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --darkColor: #0c1115;
    --yellow: #F0B000;
    --darkText: #333333;
    --offWhite: #fcfcfc;
    --lightText: #FFFFFF99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    width: 100%;
}

.secondTab{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
}

.logo img{
    width: 12%;
    display: flex;
}

.logo > *{
    margin: .2rem;
}


.tabs a{
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    margin: 1.3rem;
    color: var(--darkText);
}

.tabs a:hover{
    color: var(--yellow);
}

.tabs button {
    padding: .7rem;
    border: none;
    background-color: black;
    color: white;
}


.firstTab{
    padding: .5rem 2rem;
    width: 100%;
    background-color: var(--darkColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.phone{
    display: flex;
}

.phone > *{
    fill: var(--yellow);
    font-size: 1.3rem;
    margin: .2rem;
}

.socials svg{
    fill: var(--yellow);
    margin: .3rem;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location > *{
    font-size: 1rem;
    margin: .3rem;
    fill: var(--yellow);
}

.miniContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.miniContainer h1{
    font-weight: 600;
}

.miniContainer p{
    font-size: .5rem;
    letter-spacing: 1px;
}

.find{
    background-image: url("houseBG.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tint{
    background-color: rgba(0,0,0, .6);
    background-blend-mode: multiply;
}

.find > *{
    margin: 1rem;
}

.find h1, .find span{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.find p{
    font-style: italic;
    width: 50%;
    color: white;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.callContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: var(--yellow);
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.callContainer svg{
    fill: white;
    margin-right: 5px;
}

.about{
    background-image: url("lines.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 30%;
}

.textContainer h2{
    color: var(--yellow);
    font-size: 1rem;
}

.textContainer > *{
    margin: 1rem;
}

.textContainer h1, .textContainer span{
    word-spacing: 5px;
    font-family: 'Oswald', sans-serif;
}

.textContainer p{
    color: var(--darkText);
    letter-spacing: 1px;
    line-height: 20px;
}

.footer{
    padding: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    color: white;
    background-color: var(--darkColor);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section{
    text-align: center;
}

.section h1{
    color: var(--yellow);
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: 2px;
}

.section p, .section a{
    display: block;
    text-decoration: none;
    color: var(--lightText);
    font-size: .9rem;
    font-weight: 300;
    margin: 1rem;
}



.section a:hover{
    color: var(--yellow);
}

.section > *{
    letter-spacing: 1px;
}

.secondTab a{
    text-decoration: none;
    color: var(--darkText);
}

.phone:hover{
    cursor: pointer;
}


.excludeSection{
    text-align: center;
}

.excludeSection h1{
    color: var(--yellow);
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: 2px;
}

.excludeSection svg{
    margin: 1rem .2rem;
    fill: var(--lightText);
}

.medinaInfo{
    text-align: center;
}

.medinaInfo img{
    width: 80%;
}

.medinaInfo h1{
    font-weight: 400;
    margin: 1rem;
    font-size: 1.2rem;
    color: var(--lightText)
}

.listings{
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listingsContainer{
    margin: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.listingsContainer img{
    margin: .5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.forms{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forms a{
    border-radius: 10px;
    border: none;
    background-color: var(--yellow);
    color: white;
    padding: 1rem;  
    text-decoration: none;
    font-size: .9rem;
    margin: 1rem;
    letter-spacing: 1px;
}

.forms a:hover{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.callContainer button:hover{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}



.headerHolder h1, .headerHolder span{
    border-bottom: 1px solid var(--yellow);
    width: 20%;
    padding: 1rem 0;
    font-family: "Oswald";
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
}

.headerHolder{
    padding: 2rem;
    background-color: #F2F3F4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.phone h1[href^="tel"] {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 700px){ /*past was max:500*/
    .about{
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 2rem;
    }
    .about img{
        width: 80%;
        margin-top: 1rem;
    }

    .headerHolder h1{
        width: 100%;
    }
    .forms{
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .forms a{
        margin: .5rem;
    }

    .footer{
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer > *{
        margin: 1rem;
    }

    .tabs{
        padding-top: 1.5rem;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .listings{
        padding: 0;
    }

    .listingsContainer{
        margin-bottom: .5rem;
    }

    .firstTab{
        flex-direction: column;
        padding: 1rem;
    }
    .socials{
        display: none;
    }

    .find h1{
        margin: 0;
        font-size: 2.2rem;
    }

    .find h1 span{
        font-size: 2.2rem
    }

    .find p{
        font-size: 14px
    }


    .callContainer{
        margin: 0;
    }
    
    .callContainer button{
        padding: .5rem;
        font-size: 1.2rem;
    }

    .find{
        padding-bottom: 1rem;
    }
    /*  */
    .tabs{
        padding: 1rem;
    }

    .secondTab{
        flex-direction: column;
        padding: .3rem;
    }
    
}

